<md-dialog aria-label="Edit profile" flex="90" flex-gt-sm="35">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit profile</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog">
                        <ng-md-icon icon="close"></ng-md-icon>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content class="autoScroll">
                    <md-list>
                        <md-list-item>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Name</label>
                                <input ng-model="ctrl.user.name" md-maxlength="20">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Email</label>
                                <input ng-model="ctrl.user.email" type="email" md-maxlength="40">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Gender</label>
                                <md-select ng-model="ctrl.user.gender">
                                    <md-option ng-repeat="gender in ctrl.genders" value="{{gender}}">
                                        {{gender}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <label>Birthday date</label>
                            <md-datepicker ng-model="ctrl.user.birthdayDate" md-max-date="ctrl.maxDate" md-placeholder="Enter date"></md-datepicker>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>City</label>
                                <input ng-model="ctrl.user.city" md-maxlength="20">
                            </md-input-container>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="ctrl.done()" class="md-primary md-raised">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>